<div class="search-container">
    <h1>Home page</h1>
    <form action="/artist-search", method="GET"><!-- ele vai buscar os dados no arquivo. -->
        <input type="text" name="artist" id="query" placeholder="Search for an artist">
        <button>Find</button>
    </form>
</div>